    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Yoga by Yoshiko</h2>
                <p> Yoshiko discovered yoga after she moved from Tokyo, Japan in 2004.</br>
                    She completed a 200-hour teacher training with Ame Wren and David Regelin, 
                    300-hour advanced teacher training with Natasha Rizopoulos, Vinyasa teacher training with Seane Corn, 
                    Prenatal teacher training with Bec Connant, and assistant teacher training with Chanel Luck and Roberto Lim. </br>
                    As a dedicated student, Yoshiko continues her own yoga practice with Natasha Rizopoulos, Barbara Benagh, Ame Wren, 
                    and Patricia Walden, and she is grateful to have these amazing teachers in her life. </br>
                    Yoshiko through her love for yoga teaching, gives a lot of hands on assisting, and combines the art of Vinyasa flow with
                    the wisdom of Iyengar method to provide safe and precise alignment, the beauty of movement between poses by linking it
                    to breath, challenges and modifications for different level of students. </br>
                    It's her joy to guide students find a way of Sthira (steadiness) and Sukha (ease) through out the practice and 
                    carry those feeling beyond the mat into their daily lives.
                </p>
            </div>
        </div>
    </section>
