    <!-- Teaching Section -->
    <section id="teaching" class="content-section text-center">
        <div class="teaching-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Classes at Vega Vitality, Viking Sports and Beacon Hill Athletic Clubs - Brookline</h2>
                    <p>You can find my class schedules below at Vega Vitality, Viking Sports and Beacon Hill Athletic Clubs - Brookline.</p>
                    <a href="http://vegavitality.com/classes/#!" class="btn btn-default btn-lg">Visit Vega Vitality Page</a>

		    <a href="http://www.vikingcamps.com/pages/activity-center-yoga" class="btn btn-default btn-lg">Visit Viking Sports Page</a>
	    	    <a href="http://beaconhillathleticclubs.com/location/brookline-village/#open-calendar" class="btn btn-default btn-lg">Visit Beacon Hill Athletic Clubs Page</a>
	    </div>
            </div>
        </div>
    </section>
