    <!-- Teaching Section -->
    <section id="teaching" class="content-section text-center">
        <div class="teaching-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Classes at Beacon Hill Yoga, Brookline Adult Education and Viking Sports </h2>
                    <p>You can find my class schedules below at Beacon Hill Yoga, Brookline Adult Education and Viking Sports.</p>
                    <a href="http://www.yogabeaconhill.com/about/thestudio" class="btn btn-default btn-lg">Visit Beacon Hill Yoga</a>
		  <a href="http://www.campusce.net/brookline/course/course.aspx?catId=75" class="btn btn-default btn-lg">Visit Brookline Adult Education</a>
		    <a href="http://www.vikingcamps.com/pages/activity-center-yoga" class="btn btn-default btn-lg">Visit Viking Sports</a>
	 
	    </div>
            </div>
        </div>
    </section>
