    <!-- Teaching Section -->
    <section id="teaching" class="content-section text-center">
        <div class="teaching-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Classes at Beacon Hill Yoga, Brookline Adult Education and Viking Sports </h2>
                    <h3> ** Community Class <a href="http://www.downunderyoga.com/brookline-yoga-schedule/"> @Down Under Yoga **</a></h3>
			<p>	Monday, 8/15, 1:30-2:30 pm </br>
				$5 cash only, all of the proceeds go towards charity </br> </p>

		    <h3>** Weekly Schedule **</h3>
			<p>	Monday: 6-6:50 am Flow Viking Sports </br>
				5:45-7:00 pm Flow Beacon Hill Yoga</br>
				Tuesday: 6-7:30 pm Hatha Brookline Adult & Community Education </br>
				Thursday: 12:15-1-15 pm Hatha Beacon Hill Athletic Club</br>
				Friday: 6-6:50 am Flow Viking Sports </br>
				12:15-1 pm Flow Beacon Hill Yoga</br>	
				Saturday: 4:30-6 pm Heated Flow Down Under Yoga *assisting</p>
                    <a href="http://www.yogabeaconhill.com/about/thestudio" class="btn btn-default btn-lg">Visit Beacon Hill Yoga</a>
		    <a href="http://www.campusce.net/brookline/course/course.aspx?catId=75" class="btn btn-default btn-lg">Visit Brookline Adult Education</a>
		    <a href="http://www.vikingcamps.com/pages/activity-center-yoga" class="btn btn-default btn-lg">Visit Viking Sports</a>
	 
	    </div>
            </div>
        </div>
    </section>
